<p id="notice"><%= notice %></p>

<h1>Racers</h1>

<div class='wrapper'>
<div class='row'>
  <div class='racer_box'>
    <div class='profile'>
    <%= image_tag('A.jpg', :style => "height: 100px; width: 100px;") %>
    </div>
    <h1>Dustin Green</h1>
    <p>Hickory Hills, IL</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('B.jpg', :style => "height: 100px; width: 100px;") %>
  </div>   
    <h1>Jason Finn</h1>
    <p>Huntington Beach, CA</p> 
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('C.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Howard Thompson</h1>
    <p>Hale, MO</p>
  </div>
  </div>
  
  <div class='row'>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('D.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Maggie Lantz</h1>
    <p>Dublin, OH</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('E.jpg', :style => "height: 100px; width: 100px;") %>    
   </div> 
    <h1>Lawrence Duran</h1>
    <p>Fort Myers, FL</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('F.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Irene Molina</h1>
    <p>Tucson, AZ</p>
  </div>
  </div>
  
  <div class='row'>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('G.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>  
    <h1>Nancy Garner</h1>
    <p>Baltimore, MD</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('H.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Tara Taylor</h1>
    <p>Minneapolis, MN</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('I.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>  
    <h1>Alejandro Smith</h1>
    <p>Scarborough, ME</p>
  </div>
  </div>
  
  <div class='row'>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('J.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>  
    <h1>Tricia Renshaw</h1>
    <p>Mystic, CT</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('K.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Travis Cook</h1>
    <p>Twin Lakes, WI</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('L.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Joan Brooks</h1>
    <p>Norfolk, VA</p>
  </div>
  </div>
  
  <div class='row'>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('M.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Joseph Rodgers</h1>
    <p>Wayne, NJ</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('N.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Matthew Gregson</h1>
    <p>Brashear, MO</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('O.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>  
    <h1>Katie Dunlap</h1>
    <p>Marion, VA</p>
  </div>
  </div>
  
  <div class='row'>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('P.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Leo Howard</h1>
    <p>Dallas, TX</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('Q.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Maria Baisden</h1>
    <p>Raleigh, NC</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('R.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>
    <h1>Sandy Townsend</h1>
    <p>Newport, PA</p>
  </div>
  </div>

  <div class='row'>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('S.jpg', :style => "height: 100px; width: 100px;") %>    
  </div>  
    <h1>Melinda Stephenson</h1>
    <p>Kahului, HI</p>
  </div>
  <div class='racer_box'>
  <div class='profile'>
    <%= image_tag('T.jpg', :style => "height: 100px; width: 100px;") %>     
  </div>  
    <h1>Jason Nichols</h1>
    <p>Alexandria, VA</p>
  </div>
  </div>
</div>

# <%= link_to 'New Racer', new_racer_path %>
